<!DOCTYPE html>
<html>

<head>
  <title>
  </title>

  <meta http-equiv="refresh" content="4; URL='/play'"/>
  <link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body>

  <div>
    <h1> <%= @game.player1.name.capitalize %> attacked <%= @game.player2.name.capitalize %> !! </h1>
    <h1> <%= @game.player2.name.capitalize %> : <%= @game.player2.hp_points %> </h1>
  </div>

</div>
</body>

</html>
